<div class="container-fluid">
  <div class="page-header">
    <h1>All questions</h1>
  </div>
  <ul class="list-group">
  <% @questions.each do |question| %>
  <li class="list-group-item">
    <span class="tag tag-default tag-pill pull-xs-right"><%= get_score(question) %></span>
    <h4><a href="/questions/<%= question.id %>"><%= question.title %></a></h4><small class="text-muted"><%= long_form_date(question.created_at) %></small>

  </li>
  <% end %>
  </ul>
</div>
