<div>
  <h1>All questions:</h1>
  <ul>
  <% @questions.each do |question| %>
  <li>
    <a href="/questions/<%= question.id %>"><%= question.title %><br></a>
    <%= long_form_date(question.created_at) %><br>
    Score: <%= get_score(question) %>
  </li>
  <% end %>
  </ul>
</div>
