<form action="/users/login" method="post">
  <label for="username">Username:</label><br>
  <input type="text" name="username"><br> 
  <label for="password">Password:</label><br>
  <input type="password" name="password"><br>
  <input type="submit" value="Create!">  
</form>

<% if @error %>
    <li><%= @error %></li>
<% end %>