<div class="container-fluid">

<form action="/users" method="post">

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" name="user[username]" class="form-control">
    <small id="nameHelp" class="form-text text-muted">You can trust us.</small>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" name="user[email]" class="form-control">
    <small id="emailHelp" class="form-text text-muted">By filling in the above field, all your emails are belong to us.</small>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" name="user[password]" class="form-control">
    <small id="passwordHelp" class="form-text text-muted">We'll only share your password with the highest bidder.</small>
  </div>
  <input type="submit" value="Register!"class="btn btn-primary">
</form>

  <%= erb :'_show_errors' %>

</div>