<h1>Edit your answer</h1>

<form action="/answers" method="post">

  <input type=“hidden” name=“_method” value=“put”>

  <label for="body">Body:</label>
  <input type="text" name="answer[body]">
  <br>
  <input type="submit" value="Submit">
</form>
