<h1>Create an answer</h1>
  <%= erb :'_show_errors' %>
<form action="/answers" method="post">
  <label for="body">Body:</label>
  <input type="text" name="answer[body]">
  <br>
  <input type="submit" value="Submit">
</form>
