<div class="page-header">
  <h1>Create an answer</h1>
</div>
  <%= erb :'_show_errors' %>
<form action="/answers" method="post">
  <input type="hidden" value="<%= params[:question_id]%>" name="answer[question_id]">
  <input type="hidden" value="<%= current_user.id %>" name="answer[user_id]">
  <label for="body">Body:</label>
  <input type="text" name="answer[body]">
  <br>
  <input type="submit" value="Submit">
</form>
