  <div class="jumbotron">
    <div class="page-header">
    <h1 class="page-header"><small>Welcome to</small> <%= 'EAT'.split('').shuffle.join %> overflow!</h1>
    </div>

    <p>Where authenticated users can ask questions and receive off-topic answers.</p>
  </div>

<div class="container-fluid">
  <br>
  <br>
  <br>

</div>
